<!-- maze.launch: launch stage with a maze_solver node -->

<launch>
    <!-- Run robot_bringup launch file -->
    <include file="$(find robotcraft_maze)/launch/robot_bringup.launch"/>

    <!-- Run lidar node -->
    <include file="$(find robotcraft_maze)/launch/lidar.launch"/>

    <!-- Run gmapping -->
    <include file="$(find robotcraft_maze)/launch/gmapping.launch"/>

    <!-- Run maze_basic node -->
    <node pkg="robotcraft_maze" type="maze_basic" name="maze_basic" output="screen"/>
    <param name="left" type="bool" value="true" />
    <param name="right" type="bool" value="false" />
    <param name="robot_lost" type="bool" value="false" />

    <!-- Run map saver node, periodically saves map and robot position backups -->
    <node pkg="robotcraft_maze" type="map_saver" name="map_saver_controller_node" output="screen"/>
</launch>
